.Project{
    height: 350px;
    width: 300px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Project:hover{
 border-bottom: 4px solid #3DE8E0 ;
 border-top: 4px solid #3DE8E0 ;
 padding: 5px 5px 5px 5px; 
}


.imgProject{
    object-fit: contain;
    height: 80%;
    width: 100%;
}
.skill{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.skillDetails{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-align: start;
}
.add{
display: none;
}
.Project:hover  .add{
    width: 60%;
    padding-bottom: 8px;
    display: block;
    color: #fff;
    box-shadow: 5px 3px 1px #3DE8E0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}