.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #3DE8E0;

}
.vid{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
 

}
.meInfos{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 999;
}
.meImg{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meImg:hover{

 margin-top: 30px;
 margin-right: 20px;

}
.hayDiv{
    position: relative;
    color: #fff;
    border: 2px solid #3DE8E0;
    border-radius: 50%;
    height: 10%;
    width: 40%;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
padding-left: 15px;
padding-right: 15px;
margin-top: 15px;
cursor: pointer;

}
.hayDiv:hover{

    background-color:#27706d;
 margin-top: 10px;
 margin-left: 10px;

}
.hiImg{
    position: absolute;
    object-fit: contain;
    height: 50px;
    width: 70px;
    left: -30px;
    top: -20px;
    cursor: pointer;
}
.myName{
    cursor: pointer;
    color: white;
    font-size: 3.2rem;
    width: 80%;
    font-weight: 600;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;

}
.myFunction{
    color: #3DE8E0;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: flex-start;
    margin-top: 15px;
    cursor: pointer;
    

}
.myDesc{
    padding-left: 0;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
     text-align: start;
cursor: pointer;
    align-items: center;
    margin-top: 15px;
}
.firstBtn{
    width: 40%;
    height: 8%;
    background-color:#3DE8E0;
    border-radius: 20px;
    border: none;
    color: rgb(49, 47, 47);
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.firstBtn:hover{

    background-color:#27706d;
 margin-top: 10px;
 margin-left: 10px;

}

