.MyProjects{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: center;
}
.containThree{
    display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-gap: 30px;
}

.HighServices{
    color: #3DE8E0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6rem;
border-bottom: 2px solid  #3DE8E0;
border-right: 2px solid  #3DE8E0;
padding-bottom: 10px;
padding-right: 20px;
width: 30%;
margin-bottom: 40px;

}